{% import "macros.html" as macros %}

<!doctype html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  {% for t9n in section.translations %}
  <link rel="alternate" title="{{ t9n.title | safe }}" href="{{ t9n.permalink | safe }}" hreflang="{{ t9n.lang | safe }}">
  {% endfor %}
  <title>kphrx/test-zola-deploy-pages</title>
  <style>
section > h1::before {
  content: '#';
  padding-right: .5rem;
}
h1 {
  margin-bottom: 0;
}
p, ul, pre {
  margin-top: 0;
}
pre, code {
  background-color: lavender;
  padding: 0 calc(1rem/4);
}
.languages {
  display: inline-flex;
  list-style: none;
}
.languages > li:not(:first-child)::before {
  content: '|';
  padding: 0 5px;
}
  </style>
</head>

<body>
  <h1>{{ section.title }}</h1>
  <ul class="languages">
    {% for t9n in section.translations | sort(attribute="permalink") %}
    <li>{{ macros::langLink(translation=t9n) | trim | safe }}</li>
    {% endfor %}
  </ul>
  <section class="section">
    {{ section.content | safe }}
  </section>
  <footer>
    <dl>
      <dt>Repository</dt>
      <dd><a href="https://github.com/kphrx/test-zola-deploy-pages" rel="source">kphrx/test-zola-deploy-pages | GitHub</a></dd>

      <dt>License</dt>
      <dd><a href="https://github.com/kphrx/test-zola-deploy-pages/blob/master/LICENSE" rel="license">MIT License</a></dd>
    </ul>
  </footer>
</body>

</html>
